*.pdf
*.png
#*.h5
*.mp4
*.mem
*.vtu
*.pvd
*.avi
*.ogv
**/Manifest.toml
out/

utils/NN/1d/models
utils/NN/1d/alt
utils/NN/2d/models
utils/NN/2d/alt
utils/NN/2d/traindata
utils/NN/2d/validdata


docs/build
docs/src/authors.md
public/
coverage/
coverage_report/
**/*.jl.*.cov
**/.ipynb_checkpoints/
**/solution_*.txt
**/restart_*.txt
