*.pdf
*.png
*.h5
*.mp4
*.mem
*.vtu
*.pvd
*.avi
*.ogv
*.mesh
*.bson
*.inp
*.msh
**/Manifest.toml
out*/
docs/build
docs/src/notebooks
docs/src/authors.md
docs/src/tutorials
public/
coverage/
coverage_report/
**/*.jl.*.cov
**/.ipynb_checkpoints/
**/solution_*.txt
**/restart_*.txt
.vscode/

.DS_Store

run
run/*

LocalPreferences.toml
