*.pdf
*.png
*.h5
*.mp4
*.mem
*.vtu
*.pvd
*.avi
*.ogv
*.mesh
*.inp
**/Manifest.toml
out*/
docs/build
docs/literate/src/notebooks
docs/src/authors.md
public/
coverage/
coverage_report/
**/*.jl.*.cov
**/.ipynb_checkpoints/
**/solution_*.txt
**/restart_*.txt
.vscode/

.DS_Store
