name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'AUTHORS.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE.md'
      - 'README.md'
      - '.zenodo.json'
      - '.github/workflows/CompatHelper.yml'
      - '.github/workflows/TagBot.yml'
      - 'docs/**'
      - 'utils/**'
  pull_request:
    paths-ignore:
      - 'AUTHORS.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE.md'
      - 'README.md'
      - '.zenodo.json'
      - '.github/workflows/CompatHelper.yml'
      - '.github/workflows/TagBot.yml'
      - 'docs/**'
      - 'utils/**'

jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: ${{ matrix.trixi_test }} - ${{ matrix.os }} - Julia ${{ matrix.version }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.5'
          # - 'nightly'
        os:
          - ubuntu-latest
        arch:
          - x64
        trixi_test:
          - 1d
          - 2d
          - 2d_parallel
          - 3d
          - paper-self-gravitating-gas-dynamics
          - misc
        include:
          - version: 1.5
            os: macOS-latest
            arch: x64
            trixi_test: 2d
          - version: 1.5
            os: macOS-latest
            arch: x64
            trixi_test: 2d_parallel
          - version: 1.5
            os: windows-latest
            arch: x64
            trixi_test: 2d
          - version: 1.5
            os: windows-latest
            arch: x64
            trixi_test: 2d_parallel
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v1
        env:
          PYTHON: ""
      - uses: julia-actions/julia-runtest@v1
        env:
          PYTHON: ""
          TRIXI_TEST: ${{ matrix.trixi_test }}
      # The following step is inspired by the setup of
      # - uses: julia-actions/julia-processcoverage@v1/
      # but checks also the examples folder, since the elixirs
      # contained therein are considered to be a part of Trixi.
      - run: julia --color=yes -e 'using Pkg; Pkg.activate("coveragetempenv", shared=true); Pkg.add(PackageSpec(name="CoverageTools")); using CoverageTools; pf = process_folder(); append!(pf, process_folder("examples")); LCOV.writefile("lcov.info", pf)'
        shell: bash
        # Codecov is disabled since it does not produce accurate measurements for parallel jobs
        # - uses: codecov/codecov-action@v1
        #   with:
        #     file: ./lcov.info
        #     flags: unittests
        #     name: codecov-umbrella
        #     fail_ci_if_error: false
        #     token: ${{ secrets.CODECOV_TOKEN }}
      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.version }}-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.trixi_test }}
          parallel: true
          path-to-lcov: ./lcov.info
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
