name: Doc Preview Cleanup

on:
  pull_request:
    types: [closed]

jobs:
  doc-preview-cleanup:
    # Do not run on forks to avoid authorization errors
    # Source: https://github.community/t/have-github-action-only-run-on-master-repo-and-not-on-forks/140840/18
    if: github.repository_owner == 'trixi-framework'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gh-pages branch
        uses: actions/checkout@v3
        with:
          ref: gh-pages

      - name: Delete preview and history
        shell: bash
        run: |
            git config user.name "Documenter.jl"
            git config user.email "documenter@juliadocs.github.io"
            git rm -rf --ignore-unmatch "previews/PR$PRNUM"
            git commit -m "delete preview" --allow-empty
            git branch gh-pages-new $(echo "delete history" | git commit-tree HEAD^{tree})
        env:
            PRNUM: ${{ github.event.number }}

      - name: Push changes
        run: |
            git push --force origin gh-pages-new:gh-pages
